h1{
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    justify-content: space-around;
}
.btns{
    width: 120px;
    
}
.input{
    flex-direction: column;
    gap: 100px;
}
.taskClass{
    display: flex;
    gap: 10px;
}
